.main-btn {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.main-btn:active,
.main-btn:hover {
  outline: 0;
}

.main-btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.main-btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .main-btn {
    font-size: 24px;
    min-width: 196px;
  }
}
.fill {
  width: -moz-fit-content;
  width: fit-content;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #333;
  position: relative;
}

.fill::before {
  content: attr(data-text);
  position: absolute;
  left: 16px;
  top: 7px;
  -webkit-text-fill-color: #f3ff36;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.fill:hover::before {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(135deg, #123f6b 40%, #00DDEB);
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  transition: 0.3s;
}

header nav:nth-child(1) .logo {
  cursor: pointer;
}
header nav:nth-child(1) .logo p:nth-child(1) {
  top: -40px;
  left: 0;
}
header nav:nth-child(1) .logo p:nth-child(1) span {
  color: #00DDEB;
}
header nav:nth-child(1) .logo p:nth-child(2) {
  top: -30px;
  left: 0;
}
header nav:nth-child(1) .logo p:nth-child(2) span {
  color: #00DDEB;
}

section.landing #textsection h1 {
  color: #f3ff36;
  font-size: 3.5rem;
}
section.landing #textsection p {
  color: white;
}
section.landing #textsection .participants span {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #123f6b;
}
section.landing #textsection .participants span:not(:first-of-type) {
  margin-left: -15px;
}
section.landing #textsection .participants span:nth-of-type(1) {
  background-color: #00DDEB;
}
section.landing #textsection .participants span:nth-of-type(2) {
  background-color: #00DDEB;
  z-index: 9;
}
section.landing #textsection .participants span:nth-of-type(3) {
  z-index: 10;
  background-color: #f3ff36;
}
section.landing #infosection .img-holder {
  padding: 20px;
  border: 2px solid #f3ff36;
  border-radius: 250px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
section.landing #infosection .img-holder h5 {
  z-index: 999;
  bottom: 70px;
  left: -70px;
  color: #f3ff36;
}
section.landing #infosection .img-holder img {
  max-width: 100%;
  width: 300px;
  border-radius: 250px;
}
section.landing #infosection .info h2 {
  color: #f3ff36;
}

footer .copyright {
  background: -webkit-linear-gradient(90deg, #00DDEB, #f3ff36);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #123f6b;
}
footer ul a svg {
  transition: 0.3s;
}
footer ul a svg:hover {
  color: #5B42F3;
}

@media (max-width: 576px) {
  ul.links a {
    font-size: 16px !important;
  }
  section.landing #infosection .info p {
    font-size: 1rem !important;
  }
  section.landing #infosection .info p span {
    font-size: 1.2rem !important;
  }
}/*# sourceMappingURL=main.css.map */